<launch>
    <node name="challenge_dry" pkg="plastic_fundamentals" type="challenge_dry" output="screen">
        <param name="gold_file" value="$(find plastic_fundamentals)/gold.txt"/>
        <param name="pickup_file" value="$(find plastic_fundamentals)/pickup.txt"/>
        
        <param name="max_retries" value="3"/>
        <param name="collection_time" value="5.0"/>
        <param name="exit_time" value="5.0"/>
    </node>
</launch>
